# ignore composer dependencies
vendor/

# log and cache files
*.log
*.cache

# ignore submodule working directories
dkan/*
docroot/frontend/*
!dkan/.git
!docroot/frontend/.git

# idk what this is - build artifacts?
src/tmp
